/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin: 1%;
}

nav .about-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

nav .logo img {
  width: 100%;
  padding-top: 3%;
}

nav .user-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 1%;
}

nav ul {
  gap: 30px;
}

/* Generals */

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.fa-solid {
  font-size: 40px;
}
/* button */
.btn a {
  background-color: blue;
  color: white;
  padding: 10px 25px;
}

/* hello */
.hello-wrapper {
  background-color: rgb(180, 208, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 630px;
  margin-top: 1%;
}

.hello-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.hello-title {
  margin-top: 8rem;
}

.hello-title h1 {
  font-size: 50px;
  padding: 2%;
  font-weight: 900;
}

.hello-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hello-card {
  flex: 1 1 300px;
  color: black;
}
.hello-img {
  flex: 1 1 300px;
}

.hello-img img {
  width: 100%;
  max-width: 1000px;
}

.hello-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1 rem;
  margin-top: 1rem;
}

.hello-card ul li {
  margin: 1rem 0px;
}
