/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

nav .about-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

/* Generals */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: red;
}
