/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 20px;
}

nav .about-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 10px;
}

nav .logo img {
  height: 30px;
  padding-top: 5px;
}

nav .user-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 30px;
}

/* Generals */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

/* hello */
.hello-wrapper {
  background-color: rgb(180, 208, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-wrapper .hello-box {
  background-color: black;
  width: 60%;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-title {
  color: white;
}

.hello-title h1 {
  font-size: 60px;
  padding: 20px;
}

.hello-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hello-img {
  width: 10%;
}
