/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
}

nav .about-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

nav .logo img {
  width: 100%;
  padding-top: 3%;
}

nav .user-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 1%;
}

nav ul {
  gap: 30px;
}

/* Generals */

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

/* button */
a.btn {
  background-color: blue;
  color: white;
  padding: 0.5rem;
}

/* Hello Section */
header .wrapper {
  background-color: rgb(180, 208, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 630px;
  margin-top: 1%;
}

.hello {
  width: 70%;
  margin-top: 10rem;
}

.hello h1 {
  font-size: 61px;
  font-weight: 800;
}

.hello .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  gap: 5%;
}

.hello .left-box {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.hello .right-box {
  width: 70%;
}

.hello .right-box img {
  width: 100%;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 15, 15);
}

footer .wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  gap: 1%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.line {
  width: 14%;
  height: 2px;
  background-color: rgb(200, 200, 200);
  margin-top: 20px;
  margin-bottom: 20px;
}

.info ul {
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 200;
}

.info ul li a {
  color: white;
}

footer .info ul li:first-child {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20%;
}

/* fontawesome layout*/
.fa-earth-europe {
  font-size: 15px;
  color: white;
}

.fa-arrow-down {
  font-size: 35px;
  color: black;
  padding-bottom: 1rem;
}
