/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 20px;
}

nav .about-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 10px;
}

nav .logo img {
  height: 30px;
  padding-top: 5px;
}

nav .user-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 30px;
}

/* Generals */
header {
  position: sticky;
  top: 0;
  z-index: 5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.fa-solid {
  font-size: 40px;
}

/* hello */
.hello-wrapper {
  background-color: rgb(180, 208, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-box {
  /* background-color: black; */
  width: 65%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-title {
  /* color: white; */
  margin-top: 80px;
}

.hello-title h1 {
  font-size: 73px;
  padding: 20px;
  font-weight: 700;
}

.hello-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.hello-img {
  margin-top: 40px;
}

.hello-img img {
  width: 100%;
  max-width: 1300px;
}

.hello-card {
  width: 40%;
  color: black;
  margin-left: 25px;
}

.hello-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hello-card ul li {
  margin: 15px 0px;
}
